.galary_list {
    width: 100%;
    column-count: 3;
    column-width: auto;
    gap: 0px;
}

.galery_img_item {
    transition: all 0.4 ease-in-out;
    padding: 1px 1px;
    height:auto;
    width: 100%;
}
.active {
    font-weight: 900;
}